@page "/"

<h1>Welcome to Taekwondo Helper</h1>

This page is created to compile some information about tournaments and having some tools useful for your training.

<h2>Tournaments</h2>
<div class="list-group">
    <button type="button" class="list-group-item"> May 28th-30th - Karlovac Open          </button>
    <div class="card-body">
        28th - Registration and weight, musical forms, seminars, team fight
        29th - Point fight, ring
        30th - Light contact, kick light, ring finals
    </div>
    <button type="button" class="list-group-item"> June 10th-13th - Bestfighter 25th      </button>
    <div class="card-body">
        Dates: 10th - 13th June , 2021

        Place: 105 Stadium, Rimini, Italy
    </div>
    <button type="button" class="list-group-item"> July 1st-4th - Austrian Classics       </button>
    <div class="card-body">
        <a class="page-link" href="https://www.austrian-classics.at/en/timetable/">2020 example timetable</a>
    </div>
    <button type="button" class="list-group-item"> September 10th-19th - Islamic Games    </button>
    <button type="button" class="list-group-item"> September 16th-19th - Hungarian Open   </button>
    <div class="card-body">
        WAKO World Cup 2021, Hungary

        Budapest, Hungary

        From 16th to 19th September, 2021
    </div>
    <button type="button" class="list-group-item"> September 26st-27th - Flanders Cup     </button>
</div>